@page "/addresses"
@using RentalControl.Components.Models
@rendermode InteractiveServer

<PageTitle>Direcciones</PageTitle>

<h3>Direcciones</h3>

@if (AddressesList is null)
{
    <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}
else
{
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" 
                    FilterMode="FilterMode.CheckBoxList" AllowSorting="true" PageSize="10" AllowPaging="true" 
                    PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="true" 
                    Data="@AddressesList" ColumnWidth="300px" SelectionMode="DataGridSelectionMode.Single">
        <Columns>
            <RadzenDataGridColumn Property="@nameof(Address.Street)" Title="Calle" Width="200px" Frozen="true"/>
            <RadzenDataGridColumn Property="@nameof(Address.Number)" Title="Numero" Width="120px"/>
            <RadzenDataGridColumn Property="@nameof(Address.Neighborhood)" Title="Colonia" Width="160px"/>
            <RadzenDataGridColumn Property="@nameof(Address.City)" Title="Ciudad" Width="160px"/>
            <RadzenDataGridColumn Property="@nameof(Address.State)" Title="Estado" Width="200px"/>
            <RadzenDataGridColumn Property="@nameof(Address.ZipCode)" Title="Codigo Postal" Width="200px"/>
            <RadzenDataGridColumn Property="@nameof(Address.Country)" Title="Pais" Width="160px"/>
        </Columns>
    </RadzenDataGrid>
}
